  b , strong {
    font-weight: $font-weight-bold ;
  }
  .bg-image {
    background-image: url("../images/carmudilogin.png");
    min-height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
  }

  .btn-light {
    background: #fff;
    border-color: #ddd; 
  }
  .form-search {
    font-family: FontAwesome , 'Roboto' !important; 
    
  }
  .header {
    font-size: 22px;
    
  }
  // nav-pill
  .nav-pills a.nav-link {
    border:1px solid #fff;
    color: #fff;
    font-weight: 500;
  }
  .nav-pills a.nav-link:first-child {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
  } 
  .nav-pills a.nav-link:last-child {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
  } 
  // breadcrumbs
  a.breadcrumb-item {
    color: #fff;
  }
  .breadcrumb.text-right {
    display: block !important;
    font-size: 12px;
  }
  // card
  .card {
    border: none;
    border-right: 2px solid #e5e9f2 !important;
    border-bottom: 2px solid #e5e9f2 !important;  
  }
  .border-0 {
    border: 0 !important;
  }
  .card-header {
    background: transparent;
    border: none;
  }
  
  .card-footer {
    background: transparent;
    border: none;
  }
  
  .page-wrapper {
    width: 100%;
    background-image: linear-gradient(to right, #4EA5D9 0%, #006FC1 36.67%, #224870 100%);
    height: 200px;
    margin: 0 0 0 203px;
  }
  .sidebar {
    max-width: 203px;
    min-width: 203px;
    min-height: 100vh;
    position: fixed;
    transition: margin .4s ease-in-out;
    z-index: 2;  
    // border: 1px solid #e5e9f2;   
    // -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.04), inset 0 0 0 1px rgba(0,0,0,.09);
    // box-shadow: 0 1px 4px rgba(0,0,0,.04), inset 0 0 0 1px rgba(0,0,0,.09);
  }
  .sidebar-brand {
    display: block;
    text-align: center;
    align-items: center;
    padding: 29px 30px;
    width: 100%;
    margin: 0 auto ;
  }
  .sidebar-content {
    position: fixed;
    max-width: 203px;
    min-width: 203px;
    height: 100%;
    display: flex;
    flex-direction: column;

  }
  .sidebar-menu {
    position: relative;
    flex: 1;
  }
  .nav-bottom {
    position: fixed;
    bottom: 0;
    max-width: 203px;
    min-width: 203px;
  }
  .nav-item .nav-link {
    display: block;
    padding: 0.625rem 1.25rem;
    position: relative;
    text-decoration: none;
  }
  .nav-item .nav-link.active , .nav-item .nav-link:hover, .nav-item .nav-link:hover {
    color: #006FC1 !important;
  }
  .notif-list-UPR {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 297px;
  }
  .notif-list-RA {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 426px;
  }
  .notif-item {
    border-bottom: 1px solid #dee2e6 ;
    padding: 13px 0;
  }
  a.notif-box:hover {
    background: #dee2e6 ;
  }
  .ml-48 {
    margin-left:48px; 
  }
  .notif-list-UPR::-webkit-scrollbar-track,.notif-list-RA::-webkit-scrollbar-track
  {
      border-radius: 5px;
      background-color: #DCDDE1;
  }
  
  .notif-list-UPR::-webkit-scrollbar,.notif-list-RA::-webkit-scrollbar
  {
      width: 7px;
      background-color: #DCDDE1;
  }
  
  .notif-list-UPR::-webkit-scrollbar-thumb,.notif-list-RA::-webkit-scrollbar-thumb
  {
      border-radius: 10px;
      background-color: rgba(47, 54, 64, 0.4);
  }
  
  // table
  .table thead th {
    border-bottom: 1px solid #DCDDE1;
    color: #7F8FA6;
    font-weight: $font-weight-bold;
    padding: 14px 12px;
  }
  .table thead th {
    font-weight: $font-weight-bold !important;
  }
  .table thead th {
    border-bottom: 1px solid #dee2e6;
  }
  .tbl-notif tr {
    &:first-child td{
      border: 0;
    }
    td {
      vertical-align: middle !important;
    }
  }
  .orange { 
    color:$orange;
  }
  .blue { 
    color:$blue;
  }
  .red { 
    color:$red;
  }
  .green { 
    color:$green;
  }
  .yellow { 
    color:$yellow !important;
  }
  .text-purple {
    color: #8C7AE6;
  }
  .grey { 
    color:$secondary;
  }
  .fw-bold {
    font-weight: $font-weight-bold;
  }
  .fw-normal {
    font-weight:$font-weight-normal;
  }
  .fw-light {
    font-weight: $font-weight-light;
  }
  .fs-sm {
    font-size: 12px !important;
  }
  .fs-xs {
    font-size: 10px !important;
  }
  .invalid-feedback {
    position: absolute;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #DCDDE1;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    z-index: 3;
    padding: 12px;
    font-size: 14px;
    width: 318px;
    color: #333;
    margin-left: -1px;
  
  }
  .h-160 {
    min-height: 160px;
    height: auto;
  }
  .required {
    border: 1px solid red;
  }
  .tbl-user tr td{
    padding : 14px $tbl-user-padding-x;
    vertical-align: middle;
  }
  .tbl-user tr th {
    color: $tbl-user-th-color;
    padding : 14px $tbl-user-padding-x;
  }
  #weblog {
    .card {
      border-radius: 0;    
    }
    .card:first-child {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    .card:last-child {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    
  }
  #accordion {
    border-right: 2px solid #e5e9f2 ;
    border-bottom: 2px solid #e5e9f2 ;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  
    .card {
      border-radius: 0;
      border-bottom: 1px solid #dee2e6 !important;
    
      .card-header {
        padding: 0;
        .btn-link {
          width: 100%;
          padding:12px 1em;
          text-align: left;        
        }
      }
      &:first-child {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
      &:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }
  
  // btn-link 
  .btn-link:after {
    font-family:FontAwesome;
    content: "+";
    color: #fff ;
    float: right;
    background-color: #006FC1 ;      
    width: 22px;
    height: 22px;
    text-align: center;    
    border-radius: 25px;
    font-weight: bolder ;
    font-size: 16px;
    
  }
  .btn-link[aria-expanded="true"]:after {
    content: "\f068";      
    color: $primary !important;
    background: #fff !important;
    border: 1px solid $primary;
    font-weight: 300 !important;
    font-size: 13px !important;
    padding-top: 1px;
  }
  .nav-item a[aria-expanded="true"]:after {
    color: #006FC1;
  }
  
  .item-sort:before {
    content: "Sort by:";
    position: absolute;
    padding: 7px 6px;
    color: $secondary;
  }
  .bt-1 {
    border-top: 1px solid #DCDDE1;
  }
  .top-neg {
    top :-35px;
  }
  .btn-outline-secondary {
    background: #fff;
  }
  .img-holder  {
    align-items: center;
    display: flex;
    height: 188px;
  }
  .img-button {
    width: 100%;
    font-weight: $font-weight-bold;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  .notif-row {
    padding: 1rem;
    border-bottom: 1px solid #DCDDE1;

    &:last-child {
      border-bottom: none !important;
    }
  }
  .box-icon {
    border: 1px solid;
    border-radius: 5px;
    padding: 5px 8px;

  }
  // manager
  .agent-status .col-md-5 .media-body  {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .hr-text{
    position:relative;
    text-align: center
  }
  .hr-text:before {
    content: "";
    display: block;
    border-top: solid 1px #DCDDE1;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    z-index: 0;
  }
  .hr-text span {
    background: #F5F6FA;
    padding: 0 10px;
    position: relative;
    z-index: 1;
  }
  
  .manager .notif-list-RA {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 986px !important;
  }
  .mt-head {
    color: #006FC1;
    font-weight: 500;
    display: block;
  }
  .nav-badge {
    position: absolute;
    top: 14px;
    right: 14px;
  }
  ul #managerleads , ul #agentleads{
    .nav-link {
      padding-left: 55px;
    }
  }

  // search 
  .ui-helper-hidden-accessible {
    div:last-child {
      display: none !important;
    }
  }
  .autocomplete-search {    
    z-index: 1020;
    box-shadow:$box-shadow-sm ;
    position: absolute;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      outline: 0;
      background: #fff;
      overflow-y: scroll;
      overflow-x: hidden;
      max-height: 250px;
      &::-webkit-scrollbar-track
      {
          border-radius: 5px;
          background-color: #DCDDE1;
      }
      
      &::-webkit-scrollbar
      {
          width: 7px;
          background-color: #DCDDE1;
      }
      
      &::-webkit-scrollbar-thumb
      {
          border-radius: 10px;
          background-color: rgba(47, 54, 64, 0.4);
      }
      li.ui-menu-item {
        padding: 5px 12px;
        cursor: pointer;
        font-size: 14px;
        &:hover {
          background: #F5F6FA;
        }
      }
    }
  }

  .table thead tr th.th-checkbox {
    width: 20px;
  }

//toggle switch
//
$custom-control-description-disabled-color: #868e96;  
// These variables can be used to customize the switch component.
//
$switch-height: calc(#{$input-height} * .8) ;
$switch-height-sm: calc(#{$input-height-sm} * .8) ;
$switch-border-radius: $switch-height ;
$switch-bg: $custom-control-indicator-bg ;
$switch-checked-bg: map-get($theme-colors, 'primary') ;
$switch-disabled-bg: $custom-control-indicator-disabled-bg ;
$switch-disabled-color: $custom-control-description-disabled-color ;
$switch-thumb-bg: $white ;
$switch-thumb-border-radius: 50% ;
$switch-thumb-padding: 2px ;
$switch-focus-box-shadow: 0 0 0 $input-btn-focus-width rgba(map-get($theme-colors, 'primary'), .25);
$switch-transition: .2s all ;

.switch {
  font-size: $font-size-base;
  position: relative;

  input {
    position: absolute;
    height: 1px;
    width: 1px;
    background: none;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
    padding: 0; 
    &:focus {
      outline: 0 !important;
    }

    + label {
      position: relative;
      min-width: calc(#{$switch-height} * 2);
      border-radius: $switch-border-radius;
      height: $switch-height;
      line-height: $switch-height;
      display: inline-block;
      cursor: pointer;
      outline: none;
      user-select: none;
      vertical-align: middle;
      text-indent: calc(calc(#{$switch-height} * 2) + .5rem);
    }

    + label::before,
    + label::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: calc(#{$switch-height} * 2);
      bottom: 0;
      display: block;
    }

    + label::before {
      right: 0;
      background-color: $switch-bg;
      border-radius: $switch-border-radius;
      transition: $switch-transition;
    }

    + label::after {
      top: $switch-thumb-padding;
      left: $switch-thumb-padding;
      width: calc(#{$switch-height} - calc(#{$switch-thumb-padding} * 2));
      height: calc(#{$switch-height} - calc(#{$switch-thumb-padding} * 2));
      border-radius: $switch-thumb-border-radius;
      background-color: $switch-thumb-bg;
      transition: $switch-transition;
    }

    &:checked + label::before {
      background-color: $switch-checked-bg;
    }

    &:checked + label::after {
      margin-left: $switch-height;
    }

    &:focus + label::before {
      outline: none;
      box-shadow: $switch-focus-box-shadow;
    }

    &:disabled + label {
      color: $switch-disabled-color;
      cursor: not-allowed;
    }

    &:disabled + label::before {
      background-color: $switch-disabled-bg;
    }
  }

  // Small variation
  &.switch-sm {
    font-size: $font-size-base;

    input {
      + label {
        min-width: calc(#{$switch-height-sm} * 2);
        height: $switch-height-sm;
        line-height: $switch-height-sm;
        text-indent: calc(calc(#{$switch-height-sm} * 2) + .5rem);
      }

      + label::before {
        width: calc(#{$switch-height-sm} * 2);
      }

      + label::after {
        width: calc(#{$switch-height-sm} - calc(#{$switch-thumb-padding} * 2));
        height: calc(#{$switch-height-sm} - calc(#{$switch-thumb-padding} * 2));
      }

      &:checked + label::after {
        margin-left: $switch-height-sm;
      }
    }
  }
  
  + .switch {
    margin-left: 1rem;
  }
}

// datepicker 
 .gj-picker-bootstrap table tr td.other-month.disabled div {
  color: #f0f0f0 !important;
}
.gj-picker-bootstrap table tr td.other-month div {
  color: #ccc !important;
}
.gj-picker-bootstrap table tr td.current-month.disabled div {
  color: #f0f0f0 !important;
}
.gj-picker div[role=navigator] div[role=period] {
  font-weight: 500 !important;
}
.gj-picker-bootstrap table tr td.today div{
  color: #006FC1 !important;
}
.gj-picker-bootstrap table tr td.selected.gj-cursor-pointer div {
  background: #006FC1 !important;
} 

// loader

#page-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1055;
  background: rgba( 0, 0, 0, .7 );
  overflow: hidden;  
}

@keyframes ripple {
  0% {
    top: 96px;
    left: 96px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 18px;
    left: 18px;
    width: 156px;
    height: 156px;
    opacity: 0;
  }
}
@-webkit-keyframes ripple {
  0% {
    top: 96px;
    left: 96px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 18px;
    left: 18px;
    width: 156px;
    height: 156px;
    opacity: 0;
  }
}
.ripple {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -75px 0 0 -75px;
}
.ripple div {
  box-sizing: content-box;
  position: absolute;
  border-width: 10px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  animation: ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.ripple div:nth-child(1) {
  border-color: #1e65b8;
}
.ripple div:nth-child(2) {
  border-color: #1e65b8;
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.ripple {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}